/* table */

        .body .content .table{border: 0px; padding: 0px; margin: 0px; border-collapse: separate; border-spacing: 0px 1px;}
            .body .content .table th{line-height: 30px; background: #E9E9E9; padding: 0px 10px; margin: 0px; font-size: 11px; color: #666;}
                .body .content .table td{line-height: 23px; background: #F9F9F9; padding: 6px 10px 8px; vertical-align: top;
                                         font-size: 12px; color: #333; border-top:0px;}
                    
                .body .content .table tbody tr:nth-child(2n) td{background: #F2F2F2;}
                
                    .body .content .table .button{width: 38px; height: 38px; display: block; float: left; margin-left: 1px;text-decoration: none;}
                        .body .content .table .button .icon{border: 1px solid #FFF; height: 22px; width: 22px; margin: 7px; line-height: 24px; text-align: center;
                                                            -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;}
                            .body .content .table .button .icon [class^="ico-"]{color: #FFF; font-size: 16px; line-height: 24px;}                            
                    .body .content .table.lcnp tr td:last-child,
                    .body .content .table.lcnp tr th:last-child{padding: 0px;}
                    
                .body .content .table td span.mark{color: #999; font-size: 11px; display: block;}
                    
                .body .content .table td.bl_blue{border-left: 3px solid #009AD7;}
                .body .content .table td.bl_green{border-left: 3px solid #68AF27;}
                .body .content .table td.bl_red{border-left: 3px solid #C22439;}
                
        .body .content .table.tickets td{padding: 5px 10px;}
            .body .content .table.tickets tr td:first-child{padding-top: 7px;}                
            
        .body .content .table.table-hover tbody tr:hover td, .body .content .table.table tbody tr.active td{background: #ffffcb;}       

        .table.images td.info > *{display: block; width: auto; clear: both;}
            .table.images td.info > span{font-size: 11px; color: #999;}          
        /* eof table */
  
    /* datatables */
    .body .content .table thead th.sorting, .body .content .table thead td.sorting{background: url('../img/backgrounds/dropdown_arrow.png') right center no-repeat #E9E9E9;}
    .body .content .table thead th.sorting_asc, .body .content .table thead td.sorting_asc{background: url('../img/backgrounds/dropdown_arrow_up.png') right center no-repeat #E9E9E9;}
    .body .content .table thead th.sorting_desc, .body .content .table thead td.sorting_desc{background: url('../img/backgrounds/dropdown_arrow_down.png') right center no-repeat #E9E9E9;}
    
    .dataTables_length, .dataTables_info{float: left;}
    .dataTables_filter, .dataTables_paginate{float: right;}
        
        .dataTables_length{position: relative; padding: 5px;}
            .dataTables_length label{font-size: 11px; margin-bottom: 0px;}
            .dataTables_length select{display: inline-block; width: auto;}
            
        .dataTables_filter{position: relative; padding: 5px;}
            .dataTables_filter label{font-size: 11px; margin-bottom: 0px;}
            .dataTables_filter input[type='text']{display: inline-block; width: auto; height: 26px; line-height: 14px;}
            
        .dataTables_info{font-size: 11px; color: #333; line-height: 26px; padding: 5px;}
        
        .paginate_button,        
        .paginate_disabled_previous,
        .paginate_disabled_next,
        .paginate_enabled_next,
        .paginate_active,
        .paginate_enabled_previous{float: left; border: 2px solid #FFF; line-height: 14px; font-size: 11px; color: #333; 
                                display: block; padding: 4px 5px; margin: 5px 5px 5px 0px;
                                color: #333; text-shadow: 0px 1px 0px #FFF;
                                background-color: #E0E0E0;                                
                                -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
        
        .paginate_enabled_next,
        .paginate_enabled_previous,
        .paginate_active,.paginate_active:hover,
        .paginate_button,.paginate_button:hover,
        .paginate_enabled_next:hover,
        .paginate_enabled_previous:hover{cursor: pointer; text-decoration: none; }        
        .paginate_enabled_next:hover,
        .paginate_active, .paginate_active:hover,
        .paginate_button:hover,
        .paginate_enabled_previous:hover{ color: #333;
                                         -moz-box-shadow: inset 0 1px 3px #AAA; -webkit-box-shadow: inset 0 1px 3px #AAA; box-shadow: inset 0 1px 3px #AAA;}
        
        
        .paginate_button_disabled, .paginate_button_disabled:hover,        
        .paginate_disabled_previous, .paginate_disabled_previous:hover,
        .paginate_disabled_next, .paginate_disabled_next:hover{color: #999; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-decoration: none;}
        
        .dataTables_wrapper table{float: left;}                
    /* eof datatables */   